.back {
  position: absolute;
  width: 100vw;
  z-index: 0;
  text-align: center;
  background-color: #ebe9d6;
  background-image: url("赤舞台大.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 100vh;
  margin: 0; /* マージンをリセット */
  padding: 0; /* パディングをリセット */
}

.back a {
  padding: 24px 24px;
  background-color: rgb(45, 185, 223);
  border-radius: 12px;
  text-decoration: none;
  transition: 0.3s;
  margin: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 35px;
  /* position: absolute;
  display: flex;
  top: 500px; */
}
.back a :hover {
  transition: 0.3s;
  background-color: red;
}

.back div {
  font-size: 70px;
  font-weight: 400;
  color: yellow;
  text-align: center;
  padding-top: 10px;
  padding: 40px;
  z-index: 50;
}

.back img {
  height: 350px;
}

.fuwatto_fade_in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.is_visible {
  opacity: 1;
  transform: translateY(0);
}
