.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  text-align: center;

  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 120vh;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 981px) {
  .back {
    background-color: #ebe9d6;
    background-image: url("赤舞台大.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 980px) {
  .back {
    background-color: #ebe9d6;
    background-image: url("スマホ用赤舞台.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.back a {
  padding: 24px 24px;
  background-color: rgb(45, 185, 223);
  border-radius: 12px;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
  font-size: 35px;
  /* position: absolute;
  display: flex;
  top: 500px; */
}
.back a :hover {
  transition: 0.3s;
  background-color: red;
}

.back div {
  font-size: 6.125vw;
  font-weight: 400;
  color: yellow;
  text-align: center;
  padding-top: 10px;
  padding: 40px;
  z-index: 50;
}

.back img {
  width: 320px;
  height: 240px;
  /* height: 30vh;
  width: 25vw; */
}

.fuwatto_fade_in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.is_visible {
  opacity: 1;
  transform: translateY(0);
}
