/* モーダル全体の枠 */
.modalContent {
  background-color: #ebe9d6;
  padding: 20px;
  width: 90%;
  /* margin: 40%; */
  max-width: 300px;
  border-radius: 8px;
  z-index: 1001;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
  pointer-events: auto;
  position: fixed;

  transform: translate(-20%, -20%);
}
/* .modalContent {
  background-color: #ebe9d6;
  padding: 20px 15px;
  width: 90%;
  max-width: 300px;
  border-radius: 8px;
  position: fixed;
  transform: translate(-20%, -50%);
  z-index: 1001;
  border: 5px solid black;
} */

/* 黒塗りの背景 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

/* .overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
} */

/* 店名・名前の部分 */
.font {
  color: rgb(5, 27, 134);
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  /* justify-content: center; */
}

/* .smileImg {
  /* width: 250px; 
} */
/* 投票する！の部分 */
.ok {
  border-radius: 20px;
  background: red;
  position: relative;
  display: block;
  margin: auto;
  max-width: 260px;
  font-size: x-large;
  font-weight: 800;
  padding: 10px 25px;
  transition: 0.3s;
  color: white;
  justify-content: center;
  z-index: 1;
}

.ok:hover {
  color: red;
  background: white;
  transform: scale(1.1);
}
/* ×ボタン */
.batsu {
  position: absolute;
  top: -6px;
  right: 0;
  font-size: 20px;
  color: darkgray;
  padding: 4px 10px;
  cursor: pointer;
}

.cancel {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
}

.img_style {
  width: 155px;
  height: 300px;
}

/* モーダルをふわっとだす */
.fuwatto_fade_in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.is_visible {
  opacity: 1;
  transform: translateY(0);
}
