/* 見出し */
.main_font {
  height: 100px;
  background-color: red;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  color: white;
  padding: 15px;
}
/*見出しの文字 */
.main_font_a {
  height: 30px;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}

/* スクロール関連 */
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll_infinity {
  position: relative;
  background: black;
}
.scroll_infinity__wrap {
  display: flex;
  overflow: hidden;
}
.scroll_infinity__list {
  display: flex;
  list-style: none;
  padding: 0;

  animation: infinity-scroll-left 360s infinite linear 1s both;
}
.scroll_infinity__item {
  width: calc(100vw / 2);
}
.scroll_infinity__item > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* メインフォント */
.font {
  text-align: center;
  font-size: medium;
  font-weight: 800;
  padding-top: 10px;
  padding: 5px;
}

/* 各見出し */
.midashi_font {
  text-decoration: underline solid brown;
  font-size: xx-large;
  font-weight: 800;
}
/* すまいるさん総選挙のロゴ */
.logo {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* 背景画像 */
.back {
  /* background-image: url("オレンジ背景.jpg"); */
  background-color: #ebe9d6;
  background-size: cover;
}

.list_leyout {
  justify-content: center;
  display: flex;
}
/* エントリーした人の配置 */
.list_style {
  list-style: none;
  margin-left: 20px;
}

.img_style {
  width: 155px;
  height: 300px;
}

/* 投票するボタン */
.button {
  border-radius: 20px;
  background: red;
  /* position: relative;
  display: flex; */
  margin: 0 auto;
  max-width: 260px;
  font-size: x-large;
  font-weight: 800;
  padding: 10px 25px;
  transition: 0.3s;
  color: white;
}
/* map関数の親要素 */
.container {
  display: flex;
  flex-wrap: wrap; /* 折り返ししたい場合。不要なら外してOK */
  gap: 16px; /* 子要素の間にスペースを入れたい場合 */
  justify-content: center; /* 必要に応じて中央寄せ */
}
